env*/
__pycache__/
logs/
mlruns/
*.ipynb_checkpoints
out/modernbert
out/modernbert_model
.vscode
.vscode/*
data/embeddings/*
.pytest_cache
data/training.1600000.processed.noemoticon.csv
.env
.venv
.venv2
data/embeddings/*
data/raw/cityscapes/gtFine/*
data/raw/cityscapes/leftImg8bit/*
data/raw/zip_cityscapes/*
notebooks/out
ptxas
requirements2.txt
requirements_env.txt
TEST_IMPORTS.py
out/experiments/*
models/*
models/best_model.keras
best_model.keras
best_model.keras:Zone.Identifier
models/*
*.keras
*.h5


